In [38]:
import pandas as pd
import matplotlib.pyplot as plt
%pylab inline 
df_train =pd.read_csv("train.csv")
df_train.head()
df_train.shape

Populating the interactive namespace from numpy and matplotlib

(188690, 5)

In [39]:
df_test = pd.read_csv('test.csv')
df_test.head()
df_test.shape

(125794, 4)

In [40]:
df_all = pd.concat((df_train,df_test), axis = 0,ignore_index=True)

In [44]:
df_all.shape

(314484, 5)

In [47]:
df_all.head()

   Artist  Rating  Time  Track   User
0      40     9.0    17    179  47994
1       9    58.0     7     23   8575
2      46    13.0    16    168  45475
3      11    42.0    15    153  39508
4      14    54.0    19     32  11565

In [43]:
#Trying to remove outliers from column 'age'
def replace_nan(df, column):
    col_values = df[column].values
    df[column] = np.where(np.NaN, col_values)
    return df



# Fixing age column 
#The age value with less than 15 and more than 90 are considered to be outliers
df_all = replace_nan(df = df_all, column = 'Rating',)
df_all['Rating'].fillna(0, inplace = True)

ValueError: either both or neither of x and y should be given

In [42]:
print(df_all.isnull().sum())

Artist         0
Rating    125794
Time           0
Track          0
User           0
dtype: int64

188690

Artist    0
Rating    0
Time      0
Track     0
User      0
dtype: int64

In [28]:
df_all["Rating"]

0          9.0
1         58.0
2         13.0
3         42.0
4         54.0
5         37.0
6         69.0
7         28.0
8         12.0
9         70.0
10        32.0
11        38.0
12        20.0
13        33.0
14        32.0
15         5.0
16        31.0
17        10.0
18        18.0
19        48.0
20        33.0
21        46.0
22        54.0
23        57.0
24        32.0
25         3.0
26        70.0
27        42.0
28        28.0
29         7.0
          ...
188660    13.0
188661    49.0
188662    13.0
188663     9.0
188664    37.0
188665    47.0
188666    28.0
188667    31.0
188668    56.0
188669    29.0
188670    32.0
188671    45.0
188672    59.0
188673    89.0
188674    52.0
188675    20.0
188676    33.0
188677     9.0
188678    69.0
188679    91.0
188680    56.0
188681    48.0
188682    54.0
188683    29.0
188684    13.0
188685    29.0
188686    30.0
188687    61.0
188688    46.0
188689    12.0
Name: Rating, Length: 188690, dtype: float64

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%pylab inline 
df_train =pd.read_csv("train.csv")
df_train.head()
df_train.shape